<!DOCTYPE html>
<html
  lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | url }}"
      type="text/css">

    {%- if layout == 'post' -%}
      <!-- Tippy.js for footnote/equation tooltips -->
      <script src="https://unpkg.com/@popperjs/core@2" defer></script>
      <script src="https://unpkg.com/tippy.js@6" defer></script>
      <!-- Footnote tooltips -->
      <script>
        document.addEventListener("DOMContentLoaded", function() {
            tippy('p a[href^="#fn"]', {
              content(reference) {
                const id = reference.getAttribute('href').substring(1);
                const footnote = document.getElementById(id);
                return footnote ? footnote.innerText : 'Footnote not found';
              },
              allowHTML: false,
            });
        });
      </script>
      {%- if use_math -%}
        <!-- Equation anchors and tooltips -->
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            tippy('a[href^="#eqn-"]', {
              content(reference) {
                const id = reference.getAttribute('href').substring(1);
                const equation = document.querySelector(`p:has(#${id})`);
                return equation ? equation.innerHTML : 'Equation not found';
              },
              allowHTML: true,
            });
          });
        </script>
        <!-- KaTeX CSS -->
        <link
          rel="stylesheet"
          href="https://unpkg.com/katex@0.16.25/dist/katex.min.css"
          crossorigin="anonymous">
      {%- endif -%}
      <!-- Prism.js for code syntax highlighting -->
      <link
        rel="stylesheet"
			  href="https://unpkg.com/prismjs@1.30.0/themes/prism-twilight.min.css"
			  crossorigin="anonymous">
    {%- endif -%}

    {% if site.analytics-google %}
      {% include "analytics-google" %}
    {% endif %}

    <meta
      charset="utf-8">
    <meta
      http-equiv=X-UA-Compatible
      content="IE=edge">
    <meta
      name=viewport
      content="width=device-width, initial-scale=1">

    <meta
      property="og:image"
      content="{{ site.spicture | url }}">
    <meta
      property="og:type"
      content="WebSite">

    <title>{{ title }} | {{ site.title }}</title>
    {% include "tools/seo" %}

    {% include "favicon" %}

    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.title }}"
      href="{{ '/feed.xml' | url }}" />

    {% if pdf %}
      <link
        rel="alternate"
        type="application/pdf"
        title="{{ site.title }}"
        href="{{ pdf | url }}" />
    {% endif %}

    <link
      rel="webmention"
      href="https://webmention.io/www.matthewthom.as/webmention" />
    <link
      rel="pingback"
      href="https://webmention.io/www.matthewthom.as/xmlrpc" />

    {{ header_html }}
  </head>
  <body>
    <div
      class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
      {% include "nav" %}