<!DOCTYPE html>
<html
  lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | url }}"
      type="text/css">

    {%- if use_math -%}
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
        crossorigin="anonymous">
      <script src="https://unpkg.com/@popperjs/core@2" defer></script>
      <script src="https://unpkg.com/tippy.js@6" defer></script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          /* Label equations with tags */
          const equations = document.querySelectorAll('.katex:has(.tag > .mord.text > .mord > .mord)');
          for (let equation of equations) {
            // get the equation label
            equationNumber = equation.querySelector('.tag > .mord.text > .mord > .mord').innerText
            // if the content of the label is a number, 
            equation.id = `eqn-${equationNumber}`
            equation.classList.add('anchor')
          }

          tippy('p a[href^="#eqn-"]', {
            content(reference) {
              const id = reference.getAttribute('href').substring(1);
              const equation = document.querySelector(`p:has(#${id})`);
              return equation ? equation.innerHTML : 'Equation not found';
            },
            allowHTML: true,
          });
        });
      </script>
    {%- endif -%}

    {%- if layout == 'post' -%}
      <link
        rel="stylesheet"
			  href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism-twilight.css"
			  crossorigin="anonymous">
    {%- endif -%}

    {% if site.analytics-google %}
      {% include "analytics-google" %}
    {% endif %}

    <meta
      charset="utf-8">
    <meta
      http-equiv=X-UA-Compatible
      content="IE=edge">
    <meta
      name=viewport
      content="width=device-width, initial-scale=1">

    <meta
      property="og:image"
      content="{{ site.spicture | url }}">
    <meta
      property="og:type"
      content="WebSite">

    <title>{{ title }} | {{ site.title }}</title>
    {% include "tools/seo" %}

    {% include "favicon" %}

    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.title }}"
      href="{{ '/feed.xml' | url }}" />

    {% if pdf %}
      <link
        rel="alternate"
        type="application/pdf"
        title="{{ site.title }}"
        href="{{ pdf | url }}" />
    {% endif %}

    <link
      rel="webmention"
      href="https://webmention.io/www.matthewthom.as/webmention" />
    <link
      rel="pingback"
      href="https://webmention.io/www.matthewthom.as/xmlrpc" />

    {{ header_html }}
  </head>
  <body>
    <div
      class="wrapper-{% if site.width == "normal" %}normal{% elsif site.width == "large" %}large{% endif %}">
      {% include "nav" %}