{%- assign images = site.picture.file | jpeg_width: site.picture.sizes -%}
{%- assign avif_images = images | where: 'format', 'avif' -%}
{%- assign jpeg_images = images | where: 'format', 'jpeg' -%}
{%- assign default_image = jpeg_images | where: 'width', 250 -%}


<div class="topblock"></div>
<header class="header{% if page.url == '/' %} animated{% endif %} h-card">
  <span class="link">
    <picture>
      <source type="image/avif" srcset="
      {%- for img in avif_images -%}
        {{ img.srcset }}
        {%- unless forloop.last -%}
          ,
        {%- endunless -%}
      {%- endfor -%}
      " sizes="(min-width: 800px) 250px, 200px">
      <source type="image/jpeg" srcset="
      {%- for img in jpeg_images -%}
        {{ img.srcset }}
        {%- unless forloop.last -%}
          ,
        {%- endunless -%}
      {%- endfor -%}
      " sizes="(min-width: 800px) 250px, 200px">
      <img
        height="200"
        width="200"
        class="headshot u-photo"
        alt="{{ site.title }}"
      src="{{ default_image[0].url | url }}">
    </picture>
  </span>
  <h1 class="title p-name">{%- include "tools/namesep", namesep-content: site.title -%}</h1>
  <h2 class="description p-note">{{ site.bio }}</h2>
  <a
    rel="me"
    class="u-url d-none"
    href="/"></a>
  {%- include "social-links" -%}
</header>