<div class="social-links">
  {% if site.facebook %}
    <a
      class="social-link"
      data-title="facebook.com/{{ site.facebook }}"
      href="https://facebook.com/{{ site.facebook }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-facebook">
        <title>facebook</title>
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.linkedin %}
    <a
      class="social-link u-url"
      aria-label="linkedin, opens in new tab"
      data-title="linkedin.com/in/{{ site.linkedin }}"
      href="https://linkedin.com/in/{{ site.linkedin }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-linkedin">
        <title>linkedin</title>
        <use xlink:href="#icon-linkedin"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.google %}
    <a
      class="social-link"
      data-title="plus.google.com/+{{ site.google }}"
      href="https://plus.google.com/+{{ site.google }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-google">
        <title>google</title>
        <use xlink:href="#icon-google"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.gscholar %}
    <a
      class="social-link u-url"
      aria-label="google scholar, opens in new tab"
      data-title="scholar.google.com/citations?user={{ site.gscholar }}"
      href="https://scholar.google.com/citations?user={{ site.gscholar }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-gscholar">
        <title>google scholar</title>
        <use xlink:href="#icon-gscholar"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.github %}
    <a
      class="social-link u-url"
      aria-label="github, opens in new tab"
      data-title="github.com/{{ site.github }}"
      href="https://github.com/{{ site.github }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-github">
        <title>github</title>
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.twitter %}
    <a
      class="social-link"
      data-title="twitter.com/{{ site.twitter }}"
      href="https://twitter.com/{{ site.twitter }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-twitter">
        <title>twitter</title>
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
  {% endif %}

  {%- for mst in site.mastodon -%}
    {% if mst.username and mst.instance %}
      <a
        class="social-link u-url"
        aria-label="mastodon, opens in new tab"
        data-title="@{{ mst.username | escape }}@{{ mst.instance | escape}}"
        href="https://{{ mst.instance | cgi_escape | escape}}/@{{mst.username}}"
        target="_blank"
        rel="me">
        <svg class="icon icon-mastodon">
          <title>mastodon</title>
          <use xlink:href="#icon-mastodon"></use>
        </svg>
      </a>
    {% endif %}
  {%- endfor -%}

  {%- for plr in site.pleroma -%}
    {% if plr.username and plr.instance %}
      <a
        class="social-link"
        data-title="{{ plr.username | escape }}@{{ plr.instance | escape}}"
        href="https://{{ plr.instance | cgi_escape | escape}}/{{plr.username}}"
        target="_blank"
        rel="me noopener noreferrer">
        <svg class="icon icon-mastodon">
          <title>mastodon</title>
          <use xlink:href="#icon-mastodon"></use>
        </svg>
      </a>
    {% endif %}
  {%- endfor -%}

  {% if site.instagram %}
    <a
      class="social-link"
      data-title="instagram.com/{{ site.instagram }}"
      href="https://instagram.com/{{ site.instagram }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-instagram">
        <title>instagram</title>
        <use xlink:href="#icon-instagram"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.pinterest %}
    <a
      class="social-link"
      data-title="pinterest.com/{{ site.pinterest }}"
      href="https://pinterest.com/{{ site.pinterest }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-pinterest">
        <title>pinterest</title>
        <use xlink:href="#icon-pinterest"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.youtube %}
    <a
      class="social-link"
      data-title="youtube.com/{{ site.youtube }}"
      href="https://youtube.com/{{ site.youtube }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-youtube">
        <title>youtube</title>
        <use xlink:href="#icon-youtube"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.spotify %}
    <a
      class="social-link"
      data-title="open.spotify.com/user/{{ site.spotify }}"
      href="https://open.spotify.com/user/{{ site.spotify }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-spotify">
        <title>spotify</title>
        <use xlink:href="#icon-spotify"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.lastfm %}
    <a
      class="social-link"
      data-title="last.fm/user/{{ site.lastfm }}"
      href="https://last.fm/user/{{ site.lastfm }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-lastfm">
        <title>lastfm</title>
        <use xlink:href="#icon-lastfm"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.gitlab %}
    <a
      class="social-link"
      data-title="gitlab.com/{{ site.gitlab }}"
      href="https://gitlab.com/{{ site.gitlab }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-gitlab">
        <title>gitlab</title>
        <use xlink:href="#icon-gitlab"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.stackoverflow %}
    <a
      class="social-link"
      data-title="stackoverflow.com/users/{{ site.stackoverflow }}"
      href="https://stackoverflow.com/users/{{ site.stackoverflow }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-stackoverflow">
        <title>stackoverflow</title>
        <use xlink:href="#icon-stackoverflow"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.quora %}
    <a
      class="social-link"
      data-title="quora.com/profile/{{ site.quora }}"
      href="https://www.quora.com/profile/{{ site.quora }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-quora">
        <title>quora</title>
        <use xlink:href="#icon-quora"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.reddit %}
    <a
      class="social-link"
      data-title="reddit.com/user/{{ site.reddit }}"
      href="https://www.reddit.com/user/{{ site.reddit }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-reddit">
        <title>reddit</title>
        <use xlink:href="#icon-reddit"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.medium %}
    <a
      class="social-link"
      data-title="medium.com/@{{ site.medium }}"
      href="https://medium.com/@{{ site.medium }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-medium">
        <title>medium</title>
        <use xlink:href="#icon-medium"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.vimeo %}
    <a
      class="social-link"
      data-title="vimeo.com/{{ site.vimeo }}"
      href="https://vimeo.com/{{ site.vimeo }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-vimeo">
        <title>vimeo</title>
        <use xlink:href="#icon-vimeo"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.lanyrd %}
    <a
      class="social-link"
      data-title="lanyrd.com/{{ site.lanyrd }}"
      href="https://lanyrd.com/{{ site.lanyrd }}"
      target="_blank"
      rel="me noopener noreferrer">
      <svg class="icon icon-microphone">
        <title>microphone</title>
        <use xlink:href="#icon-microphone"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.phone %}
    <a
      id="xlink"
      aria-label="phone"
      class="social-link"
      data-title="{{ site.phone }}"
      href="tel:{{ site.phone }}">
      <svg class="icon icon-phone">
        <title>phone</title>
        <use xlink:href="#icon-phone"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.xmpp %}
    <a
      id="xlink"
      aria-label="xmpp"
      class="social-link"
      data-title="{{ site.xmpp }}"
      href="xmpp:{{ site.xmpp }}">
      <svg class="icon icon-xmpp">
        <title>xmpp</title>
        <use xlink:href="#icon-xmpp"></use>
      </svg>
    </a>
  {% endif %}

  {% if site.email %}
    <a
      id="mlink"
      aria-label="email"
      class="social-link u-email"
      data-title="{{ site.email }}"
      href="mailto:{{ site.email }}">
      <svg class="icon icon-envelope">
        <title>email</title>
        <use xlink:href="#icon-envelope"></use>
      </svg>
    </a>
    <script>
      const refEmail = document.getElementById("mlink"); // find the email link
      refEmail.href = refEmail.href.replace("..", "@"); // replace email link
      refEmail.dataset["title"] = refEmail.dataset["title"].replace("..", "@"); // replace email hover
    </script>
  {% endif %}
</div>