{%- capture header_html -%}
  <meta
    name="citation_title"
    content="{{ title }}">
  {%- for author in authors -%}
    <meta
      name="citation_author"
      content="{{ author.name }}">
  {%- endfor -%}
  {%- if pdf -%}
    <meta
      name="citation_pdf_url"
      content="{{ pdf | absolute_url: site.url }}">
  {%- endif -%}
  {%- if journal -%}
    {%- unless rnr -%}
      <meta
        name="citation_journal_title"
        content="{{ journal }}">
    {%- endunless -%}
  {%- endif -%}
  {%- if vol -%}
    <meta
      name="citation_volume"
      content="{{ vol }}">
  {%- endif -%}
  {%- if num -%}
    <meta
      name="citation_issue"
      content="{{ num }}">
  {%- endif -%}
  {%- if year -%}
    <meta
      name="citation_publication_date"
      content="{{ date | date: '%Y/%m/%d' }}">
  {%- endif -%}
  {%- if pages -%}
    <meta
      name="citation_firstpage"
      content="{{ pages[0] }}">
    <meta
      name="citation_lastpage"
      content="{{ pages[1] }}">
  {%- endif -%}
{%- endcapture -%}

{%- include "default-before", header_html: header_html -%}

<div
  class="paper">

  <h1
    class="title">{{ title }}</h1>
  <div
    class="author text-center">
    <author>{{ authors | map: 'name' | join: '</author> and <author>' }}</author>
  </div>

  <div
    class="content">
    <h2>Abstract</h2>
    {{ content }}
  </div>

  <section
    class="downloads">
    <strong
      class="mr1">Downloads:</strong>
    {%- if pdf -%}
      <a
        class="icon-link"
        href="{{ pdf }}">
        <svg
          class="icon icon-file"
          width="1.2em"
          height="1.2em"
          aria-hidden="true">
          <use
            xlink:href="#icon-file-pdf"></use>
        </svg>
        PDF
      </a>
    {%- endif -%}
    {%- if slides -%}
      <a
        class="icon-link"
        href="{{ slides }}">
        <svg
          class="icon icon-file"
          width="1.2em"
          height="1.2em"
          aria-hidden="true">
          <use
            xlink:href="#icon-file-powerpoint"></use>
        </svg>
        Slides
      </a>
    {%- endif -%}
    {%- if shortlink -%}
      <a
        class="icon-link"
        href="{{ shortlink }}"
        rel="shortlink">
        <svg
          class="icon icon-link"
          width="1.2em"
          height="1.2em"
          aria-hidden="true">
          <use
            xlink:href="#icon-link"></use>
        </svg>
        ShortLink
      </a>
    {%- endif -%}
  </section>

  <hr>
  <h2>BibTeX</h2>
  <section
    class="bibtex">
    <pre><code>{{ collections.papers | getCollectionItem | bibtex }}</code></pre>
  </section>

</div>

{%- include "default-after" -%}