---
layout: page
title: Resume
---

{%- comment -%}
Education section
{%- endcomment -%}<h2>Education</h2>
{% for edu in cv.education %}
  <h3>{{ edu.school }}</h3>
  {% for degree in edu.degrees %}
    <p>
      <strong>{{ degree.title }}</strong>
      <em>
        <date>{{ degree.start | date: "%Y" }}</date>
        &ndash;
        <date>{{ degree.end | date: "%Y" }}</date>
      </em>
    </p>
  {% endfor %}
{% endfor %}


{%- comment -%}
Papers section
{%- endcomment -%}
{%- assign published_papers = collections.papers | where: "accepted" | flatten_pages | sort: "order", "last" -%}
{%- assign working_papers = collections.papers | where_not: "accepted" | flatten_pages | sort: "order", "last" -%}

{%- include "list", list-title: "Publications", list-class: "papers", list-data: published_papers -%}
{%- include "list", list-title: "Working Papers", list-class: "papers", list-data: working_papers -%}

{%- comment -%}
Presentations section
{%- endcomment -%}<h2>Presentations</h2>
{%- assign sorted_presentations = cv.presentations | sort: "date" | reverse -%}
{% for pres in sorted_presentations %}
  <p>
    {{ pres.where }}
    <em>
      <date>{{ pres.date | date: "%b %Y" }}</date>
    </em>
  </p>
{% endfor %}

{%- comment -%}
Refereeing section
{%- endcomment -%}
<h2>Refereeing</h2>
<p>
  {{ cv.refereeing | sort | join: ", " }}
</p>

{%- comment -%}
Awards Section
{%- endcomment -%}<h2>Fellowships & Awards</h2>
{%- assign sorted_awards = cv.awards | sort: "date" | reverse -%}
{% for award in cv.awards %}
  <p>
    {{ award.title }}, {{ award.from }}
    <em>
      <date>{{ award.date | date: "%Y" }}</date>
    </em>
  </p>
{% endfor %}

{%- comment -%}
RA Section
{%- endcomment -%}
<h2>Research Experience</h2>
{% for job in cv.researchexp %}
  <p>
    {{ job.title }}, {{ job.for }}, {{ job.from }}
    <em>
      <date>{{ job.start | date: "%Y" }}</date>
      &ndash;
      <date>{{ job.end | date: "%Y" }}</date>
    </em>
  </p>
{% endfor %}

{{ content }}

{%- comment -%}
<a class="hover-download" href="{{ pdf }}">
<svg
class="icon icon-arrow"
width="50px"
height="80px">
<title>download PDF</title>
<use xlink:href="#icon-arrow-down"></use>
</svg>
</a>
{%- endcomment -%}