---
layout: banner-page
title: Resume
---
{%- comment -%}
Employment section
{%- endcomment -%}<h2>Employment</h2>
{% for employer in cv.employment %}
  <h3>{{ employer.name }}</h3>
  <div class="resume-content">
    {% for position in employer.positions %}
      <p>
        <strong>{{ position.title }}</strong>
        <em>
          <date>{{ position.start | date: "%Y" }}</date>
          &ndash;
          <date>{{ position.end | date: "%Y" }}</date>
        </em>
      </p>
    {% endfor %}
  </div>
{% endfor %}

{%- comment -%}
Education section
{%- endcomment -%}
<h2>Education</h2>
{% for school in cv.education %}
  <h3>{{ school.name }}</h3>
  <div class="resume-content">
    {% for degree in school.degrees %}
      <p>
        <strong>{{ degree.title }}</strong>
        <em>
          <date>{{ degree.start | date: "%Y" }}</date>
          &ndash;
          <date>{{ degree.end | date: "%Y" }}</date>
        </em>
      </p>
    {% endfor %}
  </div>
{% endfor %}

{%- comment -%}
Papers section
{%- endcomment -%}
{%- assign published_papers = collections.papers | where: "accepted" | flatten_pages | sort: "order", "last" -%}
{%- assign working_papers = collections.papers | where_not: "accepted" | flatten_pages | sort: "order", "last" -%}

{%- include "list", list-title: "Publications", list-class: "papers", list-data: published_papers -%}
{%- include "list", list-title: "Working Papers", list-class: "papers", list-data: working_papers -%}

{%- comment -%}
Presentations section
{%- endcomment -%}<h2>Presentations</h2>
{%- assign sorted_presentations = cv.presentations | sort: "date" | reverse -%}
<div id="resume-presentations" class="resume-content">
  {% for pres in sorted_presentations %}
    <p>
      <span>{{ pres.where }}</span>
      <em>
        <date>{{ pres.date | date: "%b %Y" }}</date>
      </em>
    </p>
  {% endfor %}
</div>

{%- comment -%}
Refereeing section
{%- endcomment -%}<h2>Refereeing</h2>
<div class="resume-content">
  <p>
    {{ cv.refereeing | sort | join: ", " }}
  </p>
</div>

{%- comment -%}
Awards Section
{%- endcomment -%}<h2>Fellowships & Awards</h2>
{%- assign sorted_awards = cv.awards | sort: "date" | reverse -%}
<div class="resume-content">
  {% for award in cv.awards %}
    <p>
      {{ award.title }}, {{ award.from }}
      <em>
        <date>{{ award.date | date: "%Y" }}</date>
      </em>
    </p>
  {% endfor %}
</div>

{%- comment -%}
RA Section
{%- endcomment -%}<h2>Research Experience</h2>
<div class="resume-content">
  {% for job in cv.researchexp %}
    <p>
      {{ job.title }}, {{ job.for }}, {{ job.from }}
      <em>
        <date>{{ job.start | date: "%Y" }}</date>
        &ndash;
        <date>{{ job.end | date: "%Y" }}</date>
      </em>
    </p>
  {% endfor %}
</div>

{%- comment -%}
Code Section
{%- endcomment -%}<h2>Software</h2>
<h3>Research Software Packages</h3>
{%- include "list", list-data: projects-academic -%}

<h3>Other Software & Projects</h3>
{% assign other_software = projects-professional | concat: projects-personal | sort: "title" %}
{%- include "list", list-data: other_software -%}

{%- comment -%}
References Section
{%- endcomment -%}<h2>References</h2>
{%- include "list", list-data: cv.references -%}

<script>
  const refEmails = document.getElementsByClassName("anti-bot-mail");
  for (refEmail of refEmails) {
    refEmail.href = refEmail.href.replace("..", "@");
  }
</script>

{{ content }}

{%- comment -%}
<a class="hover-download" href="{{ pdf }}">
<svg
class="icon icon-download"
width="50"
height="80">
<title>download PDF</title>
<use xlink:href="#icon-download"></use>
</svg>
</a>
{%- endcomment -%}